# --- Database ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hardware_db
DB_USER=medion
DB_PASSWORD=medion_secret

# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- Security ---
# Generate a secure 256-bit hex string for production
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# --- Cloudinary (To be filled in Step 2) ---
CLOUDINARY_CLOUD_NAME=dgeowd2qy
CLOUDINARY_API_KEY=399755151149826
CLOUDINARY_API_SECRET=yycJETCXPSp6VRO4-l0fKCZ3MzM


# --- M-Pesa Daraja API (To be filled in Step 3) ---
MPESA_CONSUMER_KEY=z4cnLBUyKCWqaCMctCDl9j57kj9L8HCdGprrcf9UtTqbKadR
MPESA_CONSUMER_SECRET=F6pSL3oXIFP5ctV4TQmEmSFcs83L4iJg4izKytOFfdHhOzl8yteVCm4u4RlwYfS9
MPESA_PASSKEY=
N/A
MPESA_SHORTCODE=
N/A
